ALCHEMY_API_KEY=your_alchemy_key_here #without any space
INFURA_API_KEY=your_infura_key_here #without any space 

# Optionally, provide multiple keys to enable automatic RPC rotation
# Comma-separated list, e.g. key1,key2,key3
ALCHEMY_API_KEYS=

# Optionally, add full RPC URLs to include in rotation
# Comma-separated list of complete URLs
EXTRA_RPC_URLS=
